<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      
    </style>
  </head>
  <body>

	<div id="app">
		<input type="text" v-model:value="numberOfProcesses" v-on:keyup.enter="displayProcesses = !displayProcesses" v-if="displayProcesses" placeholder="Enter number of Processes">
		<div class="processes" v-else>
			<div v-for="num in +(numberOfProcesses)">
					<process :num="num"></process>
			</div>
			<button type="submit" @click="calcFCFS">Calc FCFS</button>
		</div>
		
		
	</div>
	
	<script src="./vue.js"></script>
	<script src="./script.js"></script>
  </body>
</html>